<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCbgzprhvxyw5kHKR2mksfHOUxSR4_rQF4&libraries=places"></script>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
    <title>Live Demo of Google Maps Geocoding Example with PHP</title>

    <style>
        /* some custom css */
        #gmap_canvas{
            width:100%;
            height:30em;
        }
    </style>

</head>
<body>
{% for flash_message in app.session.flashBag.get('error') %}
    <div class="alert alert-warning" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}
    <form action="/" method="post">
        <input type='text' name='address' placeholder='Enter any address here' id="location" />
        <input type='submit' value='Search!' />
    </form>
</body>
<script>
    $(document).ready(function () {
        var autocomplete;
        var id = 'location';

        autocomplete = new google.maps.places.Autocomplete((document.getElementById(id)), {
            types:['geocode']
        })
    });
</script>
</html>